.dashboard-kpis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .kpi-card {
    display: flex;
    align-items: center;
    background-color: #1a1a2e;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 8px rgba(24, 2, 2, 0.455);
  
    mat-icon {
      font-size: 25px;      
      color: #7e3ff2;
      flex-shrink: 0;
    }
  
    .kpi-content {
      h3 {
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
      }
  
      p {
        margin: 0;
        color: #ccc;
        text-align: center;
      }
    }
  }

  .data-table-card {
    font-size: 1.3rem;
    margin: 20px;
    padding: 20px;
    background-color: #1a1a2e;
    color: #7e3ff2;
    border-radius: 12px;
  }  
  
  th, td {
    padding: 12px 16px;
    color: rgb(188, 186, 186);
  }
  
  .chart-card {
    margin: 20px;
    padding: 20px;
    background-color: #39394a;
    color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);    
  }

  
  
  
  
  