.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top left, #2a0845, #6441a5);
  }
  
  mat-card {
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    background-color: #1a1a2e;
    color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-top: 15px;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
  }

  mat-error {
    color: #ff6b6b; // rojo moderno y suave
    font-weight: 600;
    font-size: 0.85rem;
    margin-top: 4px;
    text-align: left;
    display: block;
  }

 
  
  ::ng-deep .mat-mdc-form-field.ng-invalid.ng-touched .mdc-notched-outline {
    border-color: #ff6b6b !important;
  }
  
  ::ng-deep .mat-mdc-form-field.ng-invalid.ng-touched .mdc-floating-label {
    color: #ff6b6b !important;
  }
  
  ::ng-deep .mat-mdc-form-field.ng-invalid.ng-touched .mat-mdc-input-element {
    color: #ff6b6b !important;
  }
  
  ::ng-deep input.ng-invalid.ng-touched {
    border-bottom: 2px solid #ff6b6b !important;
    color: #ff6b6b !important;
  }
  
  
  
  
  
  
  
  