.main-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background: #471b99;
    color: white;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .main-container {
    height: calc(100vh - 64px); // 64px es la altura del toolbar
    overflow-x: hidden;
  }
  
  .side-nav {
    width: 220px;
    background-color: #1e1e2f;
    color: #fff;
    overflow-x: hidden;
  }
  
  mat-nav-list a {
    width: 99%;
    display: flex;
    align-items: center;    
    padding: 12px 20px;
    margin: 5px 1px;
    border-radius: 85px;
    transition: background-color 0.3s ease;
  }
  
  mat-nav-list a mat-icon {
    margin-right: 12px;
    font-size: 26px;
  }

  mat-nav-list a:hover {
    mat-nav-list a:hover {
      background-color: rgba(255, 255, 255, 0.08); // sutil y moderno
    }
    
    transition: background-color 0.3s ease;
  }
  
  
  mat-nav-list a.active-link {
    background-color: #7e3ff2;
    color: white;
    font-weight: bold;
    border-radius: 85px;
    padding-left: 20px;
  }
  
  
  .main-content {
    padding: 20px;
    background-color: #acb1ba;
    min-height: 100%;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1e1e2f;
  }
  
  .logo-image {
    width: 100px;  
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    border-radius: 12px;
  }
  
  .logo-image:hover {
    transform: scale(1.05); 
    opacity: 0.9;  
  } 
  
  