
<mat-toolbar color="primary" class="main-toolbar">
    <span class="logo">AdminPanel</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Cerrar sesión" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>  
  
<mat-sidenav-container class="main-container">

    <mat-sidenav mode="side" opened class="side-nav">
      <div class="logo-container">
        <img src="assets/img/admin.png" alt="AdminPanel Logo" class="logo-image">
      </div>
      <mat-nav-list>
        
        <a mat-list-item 
          routerLink="/dashboard" 
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>          
        </a>
        <a mat-list-item routerLink="/dashboard/reports" routerLinkActive="active-link">
          <mat-icon>bar_chart</mat-icon>
          <span>Reportes</span>
        </a>
        <a mat-list-item routerLink="/dashboard/profile" routerLinkActive="active-link">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </a>
        
      </mat-nav-list>
    </mat-sidenav>  
  
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

  
  
  